@page
@model Jobs.WebClient.Pages.Views.CV.CVsListModel
@{
    <table class="table">
        <tr>
            <td>CV Name</td>
            <td>CV Position</td>
            <td>CV Skills</td>
            <td>CV Experience</td>
            <td>CV Expected Salary</td>
        </tr>
        @foreach (var cv in Model.CVs)
        {
            <tr>
                <td>@cv.Name</td>
                <td>@cv.Position</td>
                <td>@cv.Skills</td>
                <td>@cv.Experience</td>
                <td>@cv.ExpectedSalary</td>
            </tr>
        }
    </table>
}
